.bi-x-circle-fill {
    cursor:pointer;
    visibility: hidden;
}

#table_input tr:hover .bi-x-circle-fill {
    visibility: visible;
}

.navbar a {
    color: white;
}

.accordion-button:after {
margin-left: 0;
margin-right:0.5em;
order: -1;
background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
}

.accordion-button {
 background-color: #5dc27b !important;
 color: white !important;
}

.inputpagebtn {
border-color: #5dc27b !important;
background-color: #5dc27b !important;
width:150px;
}

#addRow {
    height: 41px;
    width:  calc(100% - var(--bs-gutter-x));
    margin-left: calc(var(--bs-gutter-x) * .5);
    background-color: #f0f0f0;
    display: block;
    margin: auto;
    text-align:center;
    transform: translateY(-8px);
    cursor:pointer;
}

#addIcon {
    display: block;
    margin: auto;
    height: 100%;
    color: #808080;
}