{% extends 'base.html' %}

{% block body %}
<div class="row px-5">
<ul>
  <li>Version: 0.1</li>
  <li>Author: Caio Ribeiro (contact: <a href="mailto:C.E.Ribeiro@kent.ac.uk" target="_blank">C.E.Ribeiro@kent.ac.uk</a>)</li>
  <li>Preprint paper link</li>
</ul>
</div>

<div class="row px-5">
  Research Team:
<ul>
  <li><a href="https://www.kent.ac.uk/computing/people/3058/ribeiro-caio" target="_blank">Dr. Caio Ribeiro</a> - University of Kent (Artificial Intelligence and Data Analytics Group)</li>
  <li><a href="https://www.kent.ac.uk/computing/people/3057/freitas-alex" target="_blank">Prof. Alex A. Freitas</a> - University of Kent (Artificial Intelligence and Data Analytics Group)</li>
  <li><a href="https://research.kent.ac.uk/chss/person/chris-farmer/" target="_blank">Prof. Chris Farmer</a> - University of Kent (Centre for Health Services Studies)</li>
  <li><a href="https://research.birmingham.ac.uk/en/persons/aleksey-belikov" target="_blank">Dr. Aleksey Belikov</a> - University of Birmingham (Rejuvenomics Lab)</li>
  <li><a href="https://research.birmingham.ac.uk/en/persons/joao-pedro-lourenco-rocha-de-magalhaes" target="_blank">Prof. João Pedro de Magalhães</a> - University of Birmingham (Rejuvenomics Lab)</li>

</ul>
<div>

<div class="row px-5">
  <div class="col-1">
  </div>
  <div class="col-2">
    <a href="https://research.kent.ac.uk/artificial-intelligence-and-data-science/" target="_blank"><img src="../static/files/logo_Kent.png" alt="University of Kent - School of Computing" style="width:210px; height:120px"></a>
  </div>
  <div class="col-2">
    <a href="https://research.kent.ac.uk/chss/" target="_blank"><img src="../static/files/logo_CHSS.jpg" alt="University of Kent - Centre for Health Services Studies" style="width:120px; height:120px"></a>
  </div>
  <div class="col-3">
    <a href="https://www.birmingham.ac.uk/" target="_blank"><img src="../static/files/logo_Birmingham.jpg" alt="University of Birmingham" style="width:270px; height:120px"></a>
  </div>
  <div class="col-2">
    <a href="https://rejuvenomicslab.com/" target="_blank"><img src="../static/files/logo_Rejuvenomics.png" alt="Rejuvenomics Lab" style="width:200px; height:120px"></a>
  </div>
  <div class="col-2">
  </div>
</div>
{% endblock %}

