{% extends 'base.html' %}

{% block body %}
<div class="row px-5 pt-4">
  <div class="h-100 p-5 bg-body-tertiary border rounded-3">
      <div class="row px-5 pt-4">
        <h5>Team:</h5>
        <ul>
          <li><a href="https://research.birmingham.ac.uk/en/persons/aleksey-belikov" target="_blank">Dr. Aleksey Belikov</a> - University of Birmingham (Rejuvenomics Lab)</li>
          <li><a href="https://www.kent.ac.uk/computing/people/3058/ribeiro-caio" target="_blank">Dr. Caio Ribeiro</a> - University of Kent (Artificial Intelligence and Data Analytics Group)</li>
          <li><a href="https://research.kent.ac.uk/chss/person/chris-farmer/" target="_blank">Prof. Chris Farmer</a> - University of Kent (Centre for Health Services Studies)</li>
          <li><a href="https://research.birmingham.ac.uk/en/persons/joao-pedro-lourenco-rocha-de-magalhaes" target="_blank">Prof. João Pedro de Magalhães</a> - University of Birmingham (Rejuvenomics Lab)</li>
          <li><a href="https://www.kent.ac.uk/computing/people/3057/freitas-alex" target="_blank">Prof. Alex A. Freitas</a> - University of Kent (Artificial Intelligence and Data Analytics Group)</li>
        </ul>
      </div>
</div>
  </div>
<div class="row px-5 pt-4">
  <div class="h-100 p-5 bg-body-tertiary border rounded-3">
      <div class="row px-5">
        <h5>Info:</h5>
      <ul>
        <li><b>Source Paper</b>: <a href="https://www.biorxiv.org/content/10.1101/2024.10.29.620854v1" target="_blank">Link</a></li>
        <li><b>GitHub Project (placeholder)</b>: <a href="https://github.com/caioedurib/bbsrc_musmusculus_server" target="_blank">Link</a></li>
        <li><b>Citation</b>: Aleksey V. Belikov, Caio Ribeiro, Christopher K. Farmer, João Pedro de Magalhães, Alex A. Freitas. <i>Predicting Mouse Lifespan-Extending Chemical Compounds with Machine Learning</i>. arXiv{url}, 2024. </li>
        <br>
        <li><b>Developer</b>: Caio Ribeiro (<a href="mailto:C.E.Ribeiro@kent.ac.uk" target="_blank">Contact for support</a>)</li>
        <li><b>Funding</b>: This web service was developed as part of a project funded by a research grant from the UK’s Biotechnology and Biological Sciences Research Council (BBSRC), grant reference numbers BB/V007971/1 <br>(to J. P. de Magalhães) and BB/V010123/1 to (A. A. Freitas). It is hosted by the University of Kent’s <a href="https://www.kent.ac.uk/computing/" target="_blank">School of Computing</a>.</li>
        <li><b>Version</b>: 0.9</li>
      </ul>
      </div>

    <br>
      <div class="row px-5">
        <div class="col-3">

        <a href="https://research.kent.ac.uk/artificial-intelligence-and-data-science/" target="_blank"><img class="img-fluid img-thumbnail" src="{{prefix + url_for('static', filename='files/images/logo_Kent.png')}}" alt="University of Kent - School of Computing" style="width:210px; height:120px"></a>
        </div>
        <div class="col-3">
        <a href="https://research.kent.ac.uk/chss/" target="_blank"><img class="img-fluid img-thumbnail" src="{{prefix + url_for('static', filename='files/images/logo_CHSS.jpg')}}" alt="University of Kent - Centre for Health Services Studies" style="width:120px; height:120px"></a>
        </div>
        <div class="col-4">
        <a href="https://www.birmingham.ac.uk/" target="_blank"><img class="img-fluid img-thumbnail" src="{{prefix + url_for('static', filename='files/images/logo_Birmingham.jpg')}}" alt="University of Birmingham" style="width:270px; height:120px"></a>
        </div>
        <div class="col-2">
        <a href="https://rejuvenomicslab.com/" target="_blank"><img class="img-fluid img-thumbnail" src="{{prefix + url_for('static', filename='files/images/logo_Rejuvenomics.png')}}" alt="Rejuvenomics Lab" style="width:200px; height:120px"></a>
        </div>
      </div>
  </div>
{% endblock %}

