{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="https://cdn.datatables.net/2.0.7/css/dataTables.dataTables.css">
<script defer src="https://cdn.datatables.net/2.0.7/js/dataTables.js"></script>
<script defer src="https://cdn.datatables.net/2.0.7/js/dataTables.bootstrap5.js"></script>
<script defer src="{{prefix + url_for('static', filename='tablegen.js')}}"></script>
<script>
    $(window).bind("load", function() {
        var gen_table = CreateTable_data('#table_otherdatasets', false, false, false);
        let data = JSON.stringify(gen_table.rows().data().toArray());
        console.log(data);
    });

    $(window).bind("load", function() {
        var gen_table = CreateTable_data('#table_FAtargetsdatasets', false, false, false);
        let data = JSON.stringify(gen_table.rows().data().toArray());
        console.log(data);
    });
    $(window).bind("load", function() {
        var gen_table = CreateTable_data('#table_NEtargetsdatasets', false, false, false);
        let data = JSON.stringify(gen_table.rows().data().toArray());
        console.log(data);
    });
</script>
{% endblock %}

{% block body %}
<div class="row px-5 pt-4">
  <div class="h-100 p-5 bg-body-tertiary border rounded-3">
      <p>All machine learning models used in this tool have been trained using the datasets in this page. Their binary features indicate the presence/absence of a given annotation within the targets associated with each example compound, and the class label indicates whether the compound has been associated with mouse longevity ('1') or not ('0').
          The description files include a list of all features in the data and the class label definition.

      </p>
      <p>Other files available for download:
      <ul>
      <li> A source file of all human proteins that includes their names and STRING IDs. These are valid inputs for the Target Prediction functionality.</li>
      <li> A list of all compounds for which there is known evidence for their class label value (for male mice, female mice, or both sexes). Note: the class labels are created from evidence of peer-reviewed studies, with information from <a href="https://genomics.senescence.info/drugs/" target="_blank">DrugAge</a>, as described in the <a href="https://www.biorxiv.org/content/10.1101/2024.10.29.620854v1" target="_blank">source paper</a>.</li>
      </ul>
      </p>
  </div>
</div>
<div class="row px-5">
 <table id="table_otherdatasets" class="display" style="width:100%">
      <thead>
          <tr>
              <th>Dataset</th>
              <th>Instances/Features</th>
              <th>Filesize</th>
              <th>Description File</th>
          </tr>
      </thead>
      <tbody>
          <tr>
              <td><a href="{{prefix + url_for('static', filename='files/datasets/MM Targets dataset - Neighbour Enrichment.tsv')}}" download="MM Targets dataset - Neighbour Enrichment.tsv">Targets - Neighbour Enrichment (all categories).tsv</a></td>
              <td>143/6460</td>
              <td>1,874 KB</td>
              <td><a href="{{prefix + url_for('static', filename='files/dsdescriptors/DescriptionFile - NE All Categories dataset.tsv')}}">DescriptionFile - NE All Categories dataset.tsv</a></td>
          </tr>
          <tr>
              <td><a href="{{prefix + url_for('static', filename='files/datasets/MM Targets dataset - Functional Annotation - InterPro.tsv')}}">FA Targets (InterPro Domains).tsv</a></td>
              <td>136/476</td>
              <td>135 KB</td>
              <td><a href="{{prefix + url_for('static', filename='files/dsdescriptors/DescriptionFile - FA InterPro dataset.tsv')}}">DescriptionFile - FA InterPro dataset.tsv</a></td>
          </tr>
       <tr>
              <td><a href="{{prefix + url_for('static', filename='files/datasets/MM Targets dataset - Neighbour Enrichment - Component.tsv')}}">NE Targets (GO Cellular Component).tsv</a></td>
              <td>134/363</td>
              <td>103 KB</td>
              <td><a href="{{prefix + url_for('static', filename='files/dsdescriptors/DescriptionFile - NE Component dataset.tsv')}}">DescriptionFile - NE Component dataset.tsv</a></td>
          </tr>
          <tr>
              <td><a href="{{prefix + url_for('static', filename='files/datasets/MM Targets dataset - Neighbour Enrichment - Process.tsv')}}">NE Targets (GO Biological Process).tsv</a></td>
              <td>143/2570</td>
              <td>749 KB</td>
              <td><a href="{{prefix + url_for('static', filename='files/dsdescriptors/DescriptionFile - NE Process dataset.tsv')}}">DescriptionFile - NE Process dataset.tsv</a></td>
          </tr>
          <tr>
              <td><a href="{{prefix + url_for('static', filename='files/datasets/MM Targets dataset - Neighbour Enrichment - KEGG.tsv')}}">NE Targets (KEGG Pathways).tsv</a></td>
              <td>143/298</td>
              <td>90 KB</td>
              <td><a href="{{prefix + url_for('static', filename='files/dsdescriptors/DescriptionFile - NE KEGG dataset.tsv')}}">DescriptionFile - NE KEGG dataset.tsv</a></td>
          </tr>
          <tr>
              <td><a href="{{prefix + url_for('static', filename='files/datasets/MM Targets dataset - Neighbour Enrichment - RCTM.tsv')}}">NE Targets (Reactome Pathways).tsv</a></td>
              <td>143/1050</td>
              <td>309 KB</td>
              <td><a href="{{prefix + url_for('static', filename='files/dsdescriptors/DescriptionFile - NE RCTM dataset.tsv')}}">DescriptionFile - NE Reactome dataset.tsv</a></td>
          </tr>
          <tr>
              <td><a href="{{prefix + url_for('static', filename='files/datasets/MM Targets dataset - Neighbour Enrichment - WikiPathways.tsv')}}">NE Targets (WikiPathways).tsv</a></td>
              <td>140/598</td>
              <td>171 KB</td>
              <td><a href="{{prefix + url_for('static', filename='files/dsdescriptors/DescriptionFile - NE WikiPathways dataset.tsv')}}">DescriptionFile - NE WikiPathways dataset.tsv</a></td>
          </tr>
      </tbody>
  </table>
</div>
<br>
<div class="row px-5">
    <b>Other files:</b>
    <a href="{{prefix + url_for('static', filename='files/dsdescriptors/Human proteins list.tsv')}}">List of human proteins names and STRING IDs.tsv</a>
    <a href="{{prefix + url_for('static', filename='files/datasets/Compounds with known class label.tsv')}}">List of compounds with assigned class labels.tsv</a>
</div>
{% endblock %}