{% extends 'base.html' %}

{% block body %}
Help page
<ul>
  <li>Show a tutorial for how to input data for classification, with images (screenshots) and examples</li>
  <li>Explain the classification process and how the user can interpret the results (how reliable, based on what data)</li>
  <li>Version information, which APIs are used, paper link for more info</li>
  <li>Contact information (message box to automatically send email)</li>
  <li>Links to paper, DrugAge, AIDA Group, CHSS and Birmingham Group</li>
</ul>
{% endblock %}