{% extends 'base.html' %}

{% block body %}
<div class="row px-5 pt-4">
  <div class="h-100 p-5 bg-body-tertiary border rounded-3">
    <h3>Welcome to MiceLongevity</h3>
      <p>This tool provides predictions from machine learning models for whether a compound’s protein targets make it likely to increase mice longevity.</p>
      <p>Go to the <a href="/input">Input</a> page and provide examples of compounds and their protein targets to get predictions.</p>
      <p>We have also made all datasets used to generate the models from this project available for download in the <a href="/data">Data</a> tab.</p>
      <p>Please see the <a href="/help">Help</a> page for examples of how to use the tool, additional information and links to external resources. </p>
  </div>
</div>
{% endblock %}
